.textfeild {
  height: 30px ;
  width: 500px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.385);
  border: 0.5px solid rgb(189, 191, 193);
  transition: transform 0.7s;
  color: rgb(92, 101, 107);
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-left: 20px;
}
.textfeild::placeholder {
  color: rgb(92, 101, 107);
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  /* position: absolute;
  left: 20px;
  bottom: 5px; */
  
}


.textfeild:focus {
  transform: scale(1.2);
  border-color: rgb(41, 124, 255);
  outline: none;
}
.searchbar-container {
  height: 150px;
  vertical-align: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-button{
    outline: none;
    border: none;
    color: white;
    background-color: rgb(22, 94, 252);
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.385);
    transition: transform 0.5s ;
    margin-right: 15px !important;
    z-index: 10;
    
}
.search-button:hover{
  transform: scale(1.1);
}
